.title {
    padding: 180px;
    position: relative;
    top: 25px;
}

p {
    padding: 135px;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.social {
    padding: 80px 280px;
    position: relative;
}

/* Demo */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  /* Color Variables */
  $color-github: #000;
  $color-twitter: #000;
  $color-slack: #000;
  $color-envelope: #000;
  $color-linkedin:#000;
  
  /* Social Icon Mixin */   
  $color-linkedin: #000;
  $color-github: #000;
  @mixin social-icon($color) {
    background: $color;
    color: #fff;
  
    .tooltip {
      background: $color;
      color: currentColor;
  
      &:after {
        border-top-color: $color;
      }
    }
  }
  
  /* Social Icons */
  .social-icons {
    display: flex;
  }
  
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    transition: all 0.15s ease;
  
    &:hover {
      color: #fff;
  
      .tooltip {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -150%);
      }
    }
      
    &:active {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
    }
    
    &--github { @include social-icon($color-github); }
    &--twitter { @include social-icon($color-twitter); }
    &--slack { @include social-icon($color-slack); }
    &--envelope { @include social-icon($color-envelope); }
    &--linkedin { @include social-icon($color-linkedin); }
    
    
    i {
      position: relative;
      top: 1px;
    }
  }
  
  /* Tooltips */
  .tooltip {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.8rem 1rem;
    border-radius: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transform: translate(-50%, -100%);
    transition: all 0.3s ease;
    z-index: 1;
    
    &:after {
      display: block;
      position: absolute;
      bottom: 1px;
      left: 50%;
      width: 0;
      height: 0;
      content: "";
      border: solid;
      border-width: 10px 10px 0 10px;
      border-color: transparent;
      transform: translate(-50%, 100%);
    }
  }